<% layout("/layouts/boilerplate") -%>

<body>
 <!-- ---------------------------------- -->
        <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-brands fa-java"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
          <a class="nav-link" href="/listing">Coffee Machine</a>
      </div>


     

        <!-- <div class="search-wrapper d-flex ms-auto search-box">
          <i class="fas fa-search search-icon"></i>
          <input type="text" id="countrySearch" class="search-bar" placeholder="Seach...." onkeyup="searchCountry()" autocomplete="off" />
        </div>
       -->
        
  

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Add New Machine</a>
        <div class="dropdown">
        
          <% if(!currentUser) { %>
            
            <div class="btn-group dropdown-btn">
              <button type="button" class="btn btn-secondary dropdown-toggle " data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                <i class="fa-solid fa-user fa-shake  "></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/signup"><b>Sign Up</b></a></li>
              <li><a class="dropdown-item"  href="/login"><b>Log In</b></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"  href="/login"><b>Help Center</b></a></li>
              </ul>
            </div>
            
            <%}%>
            <% if(currentUser) { %>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/logout"><b>Log Out</b></a></li>
                </ul>
              <%}%>
        </div>
      </div>
  </div>
</div>
</nav>


<div >
    
    <div class="row">
        <div class="col-7 offset-2">
            <h3 class="mt-2"><b>New Machine Details</b></h3>
    <form method="POST" action="/listing" novalidate class="needs-validation">
        <div class="mb-2">
         <label for="title" class="form-label">Machine Name</label>
         <input type="text" id="title" name="listing[title]" class="form-control" placeholder="enter title" required>
         
         <div class="valid-feedback">Title looks good!</div>
         <div class="invalid-feedback">Please provide a name</div>
</div>
         <div class="mb-3">
         <label for="desc" class="form-label">Description</label>
         <textarea name="listing[description]" class="form-control"  id="desc" required></textarea>
         <div class="invalid-feedback">Please provide a description</div>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Image Link</label>
            <input type="text" name="listing[image]" id="img" class="form-control" placeholder="enter image URL/Link">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" id="price" name="listing[price]" class="form-control" placeholder="enter price" required>
                <div class="invalid-feedback">Please provide a price</div>
            </div>
               <div class="mb-3 col-md-8">
                <label for="coun" class="form-label">Supplier</label>
                <input type="text" id="coun" class="form-control" placeholder="enter supplier name" name="listing[country]" required>
                <div class="invalid-feedback">Please provide a supplier name</div>  
            </div>
        </div>
         <div class="row">
            <!-- <div class="mb-3 col-md-4">
                  <label for="category" class="form-label">Machine Type</label>
                  <select id="dropdown category" name="listing[category]" placeholder="enter category" class="form-control" required onchange="showSelected()">
                    <option value="Manual" selected>Select a Category</option> 
                    <option value="Automatic">Automatic</option>
                    <option value="Manual">Manual</option>
                    <option value="Semi-Automatic">Semi-Automatic</option> -->
                    <!-- <option value="Amazing Pools">Amazing pools</option>
                    <option value="Beach">Beach</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Castle">Castle</option>
                    <option value="Camping">Camping</option>
                    <option value="Farms">Farms</option>
                    <option value="Boats">Boats</option>
                    <option value="Domes">Domes</option> -->
                  <!-- </select>
               
           </div>   -->
           <div class="mb-3 col-md-8">
               <label for="loc" class="form-label">Status</label>
              <input type="text" id="loc" name="listing[location]" placeholder="enter status" class="form-control" required> 
              <div class="invalid-feedback">Current Status</div>   
          </div>    
         </div> 
         <button class="btn mb-3 add-btn">Add</button>
    </form>
    </div>
    </div>
    </div>
</body>
