<% layout("./layouts/boilerplate") -%>
<body>


 <!-- ---------------------------------- -->
        <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-brands fa-java"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
          <a class="nav-link" href="/listing">Coffee Machine</a>
      </div>


     

        <!-- <div class="search-wrapper d-flex ms-auto search-box">
          <i class="fas fa-search search-icon"></i>
          <input type="text" id="countrySearch" class="search-bar" placeholder="Seach...." onkeyup="searchCountry()" autocomplete="off" />
        </div>
       -->
        
  

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Add New Machine</a>
        <div class="dropdown">
        
          <% if(!currentUser) { %>
            
            <div class="btn-group dropdown-btn">
              <button type="button" class="btn btn-secondary dropdown-toggle " data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                <i class="fa-solid fa-user fa-shake  "></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/signup"><b>Sign Up</b></a></li>
              <li><a class="dropdown-item"  href="/login"><b>Log In</b></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"  href="/login"><b>Help Center</b></a></li>
              </ul>
            </div>
            
            <%}%>
            <% if(currentUser) { %>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/logout"><b>Log Out</b></a></li>
                </ul>
              <%}%>
        </div>
      </div>
  </div>
</div>
</nav>


    
    <div class="row" style="margin-top: 50px;">
        <h4 class="col-7 offset-4"><b>SignUp For Coffee Machine</b></h4>
        <div class="col-5 offset-3">
            <form action="/signup" method="POST"  novalidate class="needs-validation">
                <div class="mb-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="enter username" required>
                    
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please provide a username</div>
                </div>
                <div class="mb-2">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="enter email" required>
                    <div class="invalid-feedback">Please provide an email</div>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class="invalid-feedback">Please provide a password</div>
                </div>
                <div>
                    <button class="btn btn-success">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</body>
